/* 공통 적용 스타일 */
textarea { resize: none; }

/* 게시판 적용 스타일 */
.board-table-tr-height{ height:300px; }
.board-table-height{ height:500px; }
.board-msg-default-color{ color:#000099; }
.board-msg-error-color{ color:red; }
.board-required{ color:red; }
